<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OneSignalNotificationServiceExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TBF-WatchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>TBF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F456E831F364AEF00C7BC1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F58FF9A1F5B5BA50016EBEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F607A3D1EA9FDBC00CB7C64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F82C13C1EA3CF400066CD59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE647641EC8F5AA00D2602E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
